body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  margin-top: 1rem;
}
.doctors {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.doctors h3 {
  cursor: pointer;
}
.doctor-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.doctor-card img {
  border-radius: 5px;
}

.hasta-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}
.hasta-card .durum,
button {
  cursor: pointer;
}

.hasta-card .ilgilenildi {
  color: red;
}
.header_title {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.submitButton {
  margin-top: 1rem;
}
